@font-face {
  font-family: 'American';
  src: url('./fonts/American.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.app{
  padding: 0;
  margin: 0;
  font-family: 'American';
  font-size: 62.5%;
  font-weight: normal;
  letter-spacing: 0.2px;
  color: #000;
}

.header {
  background: #F5F5F5;
  padding: 25px 20px;
}

.logo {
  display: flex;
  justify-content: flex-start;
}

.logo-litm {
  height: 40px;
  width: 40px;
  background: url('./logoLITMAcademy.svg') no-repeat center center;
  background-size: contain;
}

.logo-name {
  margin: 0 0 0 14px;
  line-height: 40px;
  font-size: 2rem;
  color: black;
}

.header-logo img {
  height: 100%;
}

.body {
  padding-top: 30px;
  text-align: center;
  background: #ffffff;
}
